@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post" id="form">
        Data: <input name="data" type="text"/><br>
        <input type="submit" id="value">
    </form>
</div>